@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

.generalInfo {
  /* height: 100vh; */
  width: 74%;
  margin-left: 16%;
  margin-right: 18%;
  background-color: #fffcf2;
  padding-bottom: 10px;
}
.titles {
  /* // z-index: 1; */
  display: block;
  margin-left: 1%;
  margin-bottom: 5px;
}
.mainTitles {
  display: flex;
  justify-content: flex-start;
}
.card {
  height: 300px;
  border-radius: 10px;
  width: 50%;
  margin-bottom: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.second {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 10px;
}
.cardBodyRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.cards {
  padding-top: 20px;
  width: 100%;
}
.cardImage {
  background: none;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  justify-content: center;
  height: 250px;
}

.cardImage profilePhoto {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.cardTittle {
  color: #fffcf2;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  font-family: "Roboto Condensed", sans-serif;
}

.icons {
  backgroundColor: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  width: 100px;
  height: 100px;
}

.cardBody {
  /* height: 1000px; */
  font-size: 30px;
  color: #fffcf2;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
}

.cardBodyRow ul {
  list-style-type: none;
}

.cardBody ul {
  list-style-type: none;
  margin-bottom: 5px;
}

.primary {
  color: #fffcf2;
  font-size: 300%;
  margin-top: 30px;
}

.secondary {
  color: #ccc5b9;
  font-size: 250%;
}

.highlighted {
  color: #eb5e28;
}
